body {
	text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 1cm;
    font-size: 18px;
    line-height: 30px;
	word-wrap: break-word;
    letter-spacing: 0.5px;
    height: 100%;
    font-family: 'Calibri', sans-serif;
	background-color: #37D2FC
	
}
.container {
	text-align: center;
	background-color: white;
	margin-right: 4cm;
	margin-left: 4cm;
	margin-top: 3cm;
}
.textlho {
	text-align: left;
	margin-left: 2cm;
	margin-right: 2cm;
	word-wrap: break-word;
	text-align: justify;
    text-justify: inter-word;
}
.ending{
	font-weight: bold;
}
.endas{
	font-size: 40px;
}
