body {
	font-family: 'Comic Sans Ms', serif;
	background-image: url("https://images.vexels.com/media/users/3/125862/raw/cdae503e228e49f45eb947980fd81a35-illustrated-cartoon-clouds-background.jpg") ;
}

.container {
	height: 360px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-image: url ("E:\Pemrograman\web\UAS\math.jpg");
	padding: 20px;
	border: 1px solid inherit;
	box-shadow: 0 0 8px 3px #fff;
}

.container2 {
	height: 600px;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 45px;
	text-transform: sentencecase;
	color: #FF4D00
}

.question {
	padding: 20px;
	font-size: 22px;
	background: #00FF44;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
	text-align: center;
}

.option {
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}

.option:hover{
	background: #004DFF;
	color: #f6f6f6;
}

.next-btn {
	border: none;
	outline: none;
	background: white;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
	border-radius: 20px;
	border: 2px solid rgba(255, 25, 255, 0.5);
}

.next-btn:hover{
	background: rgba(255, 25, 255, 0.5);
	color: white;

}

.result{
	height: 100px;
	text-align: center;
	font-size: 75px; 
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background-color: #08038C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 200px;
  font-weight:bold;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  margin: 4.5%;
  margin-top: 100px;
  float: right;
}

.button2 {
	margin-left: 130px;
}

.button3 {
	margin-left: 170px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}


.button:hover span:after {
  opacity: 2;
  right: 0;
}

.centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 400px;
}

.buttonn {
  display: inline-block;
  border-radius: 30px;
  background-color: #08038C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight:bold;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 40px;
  position:relative;

}

.buttonn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonn span:after {
  content:'<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.buttonn:hover span {
  padding-left: 25px;
}


.buttonn:hover span:after {
  opacity: 2;
  left: 0;
}


.buttonback {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
	float: left;
	outline: none;
	width: 150px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	margin: 10px;
	text-align: center;
	position: relative;
}

.buttonback:hover {
    background-color: #4CAF50;
    color: white;
	}

